* {
    font-family: Roboto;
}

body {
    margin: 0px;
}

.main-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header-logo {
    font-size: 24px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-links-container {
    display: flex;
    gap: 20px;
}

.header-links {
    font-weight: 400;
    color: #E5E7EB;
    text-decoration: none;
}

.hero-section {
    padding: 80px 150px;
    background-color: #1F2937;
}

.hero-container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.hero-main-text {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-secondary-text {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 350;
}

.signup-button {
    padding: 8px 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}

.imgs-section {
    padding: 80px;
    padding-top: 0px;
}

#imgs-section-title {
    margin: 40px 0px;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.imgs-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 200px;
}
/* 
.single-img-container {
} */

.imgs-section-images {
    border: 5px solid #3882F6;
    border-radius: 10px;
}

.imgs-section-text {
    margin: 0px;
    contain: inline-size;
    font-size: 14px;
    text-align: center;
    color: #1F2937;
}

.quote-section {
    background-color: #E5E7EB;
}

.quote-container {
    padding: 100px 300px;
}

.main-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 250;
}

.main-quote-author {
    text-align: right;
}